<ng-container *ngIf="horse$ | async as horse">
  <div class="container-fluid content-title">
    <div class="text-center">
      <h4 class="content-header-subtitle">{{horse.name}}</h4>
      <small>{{horse.sire}} &times; {{horse.dam}}</small>
    </div>
  </div>

  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-card">
          <div class="card">


            <div class="text-center">
              <span class="caption-text">
                <span class="border-top">
                  &nbsp; {{horse.year}} AMERICAN MINIATURE {{horse.gender | uppercase}} &nbsp;
                </span>
              </span>
            </div>

            <div class="card-body">

              <p class="read">
                {{horse.text}}
              </p>

              <p class="read">
                <strong>
                  2018 European Reserve Grand Champion Senior Mare
                </strong>
              </p>
              <p class="read">
                <strong>
                  2018 European Reserve Champion Senior Mare 32-34
                </strong>
              </p>
              <p class="read">
                <strong>
                  2018 European Champion AOTE Senior Mare
                </strong>
              </p>
              <p class="read">
                  <strong>
                    2018 European Champion YOTE Mare
                  </strong>
                </p>
            </div>

            <div class="text-center">
              <span class="caption-text">
                <span class="border-bottom">
                  &nbsp; AMHA/AMHR &nbsp;
                </span>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>