<form *ngIf="!formSent" [formGroup]="emailForm" (ngSubmit)="save(enquiry)">
  <div class="form-row">
    <!-- Email -->
    <div class="form-group col-12">
      <div class="form-group">
        <input type="email" class="form-control" formControlName="email"
          placeholder="name@example.com">
      </div>
    </div>
    <!-- Message -->
    <div class="form-group col-12">
      <div class="form-group">
        <textarea class="form-control" formControlName="message" rows="6" placeholder="What would you like to know?"></textarea>
      </div>
    </div>
    <!-- Check
    <div class="form-group col-12">
      <div class="form-check">
        <input formControlName="check" (change)="enquiry.check = !enquiry.check" type="checkbox"
        name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
        <label for="exampleFormControlInput1"><small>&nbsp; Please consent to receive email updates from Turra Lodge Farm.</small></label>
      </div>
    </div> -->

  </div>
  <button type="submit" class="btn btn-info btn-block" [disabled]="!emailForm.valid">
    Send
  </button>
</form>

<p *ngIf="formSent" class="text-center">Thank you for your enquiry. We will reply very soon!</p>