<div class="container-fluid content-title">
  <div class="text-center">
    <div class="content-header-subtitle">Contact</div>
  </div>
</div>

<div class="text-card">
    <div class="card">
  
  
      <div class="text-center">
        <span class="caption-text">
          <span class="border-top">
            &nbsp; TLF &nbsp;
          </span>
        </span>
      </div>
  
      <div class="card-body text-center">

        <h4>Turra Lodge Farm</h4>
        <p class="read">
          Carlow, Ireland
        </p>
        <div class="row justify-content-center">
          <div class="col-4">
              <p class="read">
                  Eugene & Sandra Kelly
                </p>
                <p class="read">
                    +353 (0)87 6856388
                  </p>
          </div>
          <div class="col-4">
              <p class="read">
                  David Kelly
                </p>
                <p class="read">
                    +353 (0)86 2497348
                  </p>

          </div>
          </div>
  
        
        

      </div>
  
      <div class="text-center">
        <span class="caption-text">
          <span class="border-bottom">
            &nbsp; Est. 2005 &nbsp;
          </span>
        </span>
      </div>
  
    </div>
  </div>

  <div class="container-fluid">
    <!-- Google Map -->

  </div>

<div class="row justify-content-center">
    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-5">
      <app-email-form></app-email-form>
    </div>
  </div>
