<div class="container-fluid content-title">
    <div class="text-center">
      <div class="content-header-subtitle">Our Horses</div>
    </div>
  
    <div class="container-fluid content-nav">
      <div class="text-center">
        <ul class="list-inline">
          <li class="list-inline-item" (click)="filterHorseList('breeding')">
            <a class="social-icon text-xs-center">Breeding</a>
            <span>...</span>
          </li>
          <li class="list-inline-item" (click)="filterHorseList('stallion')">
            <a class="social-icon text-xs-center">Stallions &amp; Colts</a>
            <span>...</span>
          </li>
          <li class="list-inline-item" (click)="filterHorseList('mare')">
            <a class="social-icon text-xs-center">Mares &amp; Fillies</a>
            <span>...</span>
          </li>
          <li class="list-inline-item" (click)="filterHorseList('foal')">
            <a class="social-icon text-xs-center">Foals</a>
            <span>...</span>
          </li>
          <li class="list-inline-item" (click)="filterHorseList('reference')">
            <a class="social-icon text-xs-center">Reference</a>
            <span>...</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <app-horse-list [term]="filter">
    <!-- List of horse cards -->
  </app-horse-list>