<div class="container-fluid">

  <div class="row justify-content-between">

    <div class="col-xs-12 col-sm-6 col-md-3 text-center masonary-card" >

      <div class="card masonary-card">
        <img class="card-img-top" src="../../../assets/images/_35A2077.jpg" alt="Card image cap">
      </div>
      <div class="card masonary-card">
        <img class="card-img-top" src="../../../assets/images/_35A1783.jpg" alt="Card image cap">
      </div>
      <div class="card masonary-card">
        <img class="card-img-top" src="../../../assets/images/_35A2016.jpg" alt="Card image cap">
      </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 text-center masonary-card" >

        <div class="card masonary-card">
            <img class="card-img-top" src="../../../assets/images/_35A1817.jpg" alt="Card image cap">
          </div>
        <div class="card masonary-card">
          <img class="card-img-top" src="../../../assets/images/_35A1861.jpg" alt="Card image cap">
        </div>
  
      </div>
    <div class="col-xs-12 col-sm-6 col-md-3 text-center masonary-card" >

      <div class="card masonary-card">
        <img class="card-img-top" src="../../../assets/images/_35A1858.jpg" alt="Card image cap">
      </div>
      <div class="card masonary-card">
        <img class="card-img-top" src="../../../assets/images/_35A1849.jpg" alt="Card image cap">
      </div>
      <div class="card masonary-card">
        <img class="card-img-top" src="../../../assets/images/_35A1824.jpg" alt="Card image cap">
      </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 text-center masonary-card" >

      <div class="card masonary-card">
        <img class="card-img-top" src="../../../assets/images/_35A1818.jpg" alt="Card image cap">
      </div>
      <div class="card masonary-card">
        <img class="card-img-top" src="../../../assets/images/_35A1785.jpg" alt="Card image cap">
      </div>

    </div>

  </div>

</div>