<!-- Sidebar Holder -->
<nav id="sidebar" [ngClass]="(collapse ? 'active' : '')">
  <div class="sidebar-header text-center">
    <h4>Turra Lodge Farm</h4>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About Us</a>
    </li>
    <li>
      <a href="#">Horses</a>
    </li>
    <li>
      <a href="#">Showing</a>
    </li>
    <li>
      <a href="#">Sales</a>
    </li>
    <li>
      <a href="#">News</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <p class="subtext text-center">American Miniature Horses in Ireland</p>
  </ul>
</nav>

<!-- Page Content Holder -->
<div id="content" [ngClass]="(collapse ? 'active' : '')">
  <app-nav *ngIf="(user | async)"></app-nav>
  <div class="container-fluid" id="top-lvl-header">
    <div class="row">
      <div class="col-sm-12">
        <button type="button" id="sidebarCollapse" class="btn btn-link" (click)="toggleSidebar()">
          <span>
            <i class="fa fa-bars" aria-hidden="true"></i>
          </span>
        </button>
        <div class="pull-right">
          <ul class="list-inline" id="top-level-quick-nav">
            <li class="list-inline-item">
              <a class="text-xs-center">About Us</a>
            </li>
            <li class="list-inline-item">
              <a class="text-xs-center">Sales</a>
            </li>
            <li class="list-inline-item">
              <a class="text-xs-center">News</a>
            </li>
            <li class="list-inline-item">
              <a class="text-xs-center">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="content-header text-center">
      <h3>Turra Lodge Farm</h3>
      <span class="content-header-subtitle">American Miniature Horses</span>
    </div>
  </div>

  <div class="container-fluid" (click)="hideSideBar()">
    <router-outlet></router-outlet>
    <div class="line"></div>
    <div class="content-header text-center">
      <h3>Turra Lodge Farm</h3>
      <span class="content-header-subtitle">American Miniature Horses</span>
    </div>
    <div class="container-fluid footer-nav">
      <div class="text-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="social-icon text-xs-center" target="_blank" href="#">About Us</a>
          </li>
          <li class="list-inline-item">
            <a class="social-icon text-xs-center" target="_blank" href="#">Horses</a>
          </li>
          <li class="list-inline-item">
            <a class="social-icon text-xs-center" target="_blank" href="#">Showing</a>
          </li>
          <li class="list-inline-item">
            <a class="social-icon text-xs-center" target="_blank" href="#">Sales</a>
          </li>
          <li class="list-inline-item">
            <a class="social-icon text-xs-center" target="_blank" href="#">News</a>
          </li>
          <li class="list-inline-item">
            <a class="social-icon text-xs-center" target="_blank" href="#">Contact</a>
          </li>
        </ul>
        <p>
          <a href="https://www.facebook.com/TLFminiaturehorses/?ref=bookmarks">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        </p>
      </div>
      <div class="line"></div>
      <p class="text-center">
        <a [routerLink]="['/login/']">
          &copy;
        </a>
         Turra Lodge Farm
      </p>
    </div>

  </div>
</div>