.container-fluid {

}

.masonary-blocks {

}

.masonary-blocks .image-block {
    height: 20rem;
    display: inline-block;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;

}

/* ---------------------------------------------------
    MEDIAQUERIES - BLOCKS
----------------------------------------------------- */
@media (max-width: 768px) {
    .masonary-blocks .image-block  {

        width: 50%;
        height: 30rem;

    }
}