
  <ng-container *ngIf="horse$ | async as horse">
    <!-- Horse Card -->
    <div class="card horse-card">
      <div class="card-body card-img-bg" [style]="getStyle(horse.profileImg)">
        <div class="list-thumb-border"></div>
      </div>
      <div class="card-body">
        <h5>{{horse.name}}</h5>
        <div class="horse-parentage">
          {{horse.sire}} x {{horse.dam}}
        </div>
        <div class="horse-info">
          {{horse.year}} American Miniature {{horse.gender}}
        </div>
      </div>
    </div>
  </ng-container>