/* ---------------------------------------------------
    Fonts
--------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC');

/* ---------------------------------------------------
    Palette
--------------------------------------------------- */
#sidebarNavPalette {
    color: #74b0b1;
    color: #01616d;
    color: #005264;
}

/* ---------------------------------------------------
    Nav Style
--------------------------------------------------- */

body {
    font-family: 'Montserrat', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    letter-spacing: 3px;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #01616d;
    color: #fff;
    transition: all 0.3s;
}

#sidebarCollapse {
    color: whitesmoke;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .sidebar-header {
    font-family: 'IM Fell French Canon SC', serif;
    background: #005264;
    padding: 20px 10px 20px 0;
    height: 70px;
}

#sidebar .subtext {
    font-size: .8rem;
    font-variant: small-caps;
    padding-top: 20px; 
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 20px;
    font-size: .9rem;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid #005264;
}

#sidebar ul li a:hover {
    color: #74b0b1;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #74b0b1;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #74b0b1;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #74b0b1 !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 300px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}

#content .content-header {
    padding: 20px 0;
}
#content .content-header h3{
    font-family: 'IM Fell French Canon SC', serif;  
    color: #005264;  
    margin-bottom: 0;
    font-size: 3rem;
}

#content .content-header .content-header-subtitle {
    font-size: .9rem;
    font-variant: small-caps;
    letter-spacing: 4px;
}

#content .content-title {
    background-color: #01616d;
    padding: 20px 0;
    color: whitesmoke;
    text-transform: uppercase;
}
#content .content-nav {
    border-top: #74b0b1 solid 1px;
    border-bottom: #74b0b1 solid 1px;
    background-color: #01616d;
    margin-top: 1rem;
    padding-top: 1rem;
}

#content .content-nav .list-inline {
    margin: 0;
}

#content .content-nav .list-inline li {
    margin: 0 2rem;
    font-size: .8rem;
}

#content .content-nav .list-inline li span:last-child{
    display: block;
    color: #01616d;
    font-size: 1.5em;
    line-height: 0;
    opacity: 0;
    transition: opacity .1s ease;
}

#content .content-nav .list-inline li:hover span:last-child{
    display: block;
    color: whitesmoke;
    font-size: 1.5em;
    line-height: 0;
    opacity: 1;
    transition: opacity .3s ease;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 300px);
    }
    #top-level-quick-nav {
        visibility: hidden;
    }
}

/* ---------------------------------------------------
    HEADER
----------------------------------------------------- */
#top-lvl-header {
    background-color: #005264;
    height: 70px;
    padding: 20px;

}

#top-lvl-header ul {
    margin: 0;
    padding: 0;
}

#top-lvl-header ul li{
    margin: 0 1rem;
}

#top-lvl-header ul li a{
    font-size: .8rem;
    text-transform: uppercase;
    color: #74b0b1;
}
