<div class="container-fluid content-title">
  <div class="text-center">
    <div class="content-header-subtitle">
      Home
    </div>
  </div>
</div>

<div class="text-card">
  <div class="card">


    <div class="text-center">
      <span class="caption-text">
        <span class="border-top">
          &nbsp; TLF &nbsp;
        </span>
      </span>
    </div>

    <div class="card-body">

      <p class="read" *ngFor="let content of content$ | async">
        <ng-container *ngIf="!edit">
          {{content.text}}
        </ng-container>
        <ng-container *ngIf="authService.userId$ | async">

          <ng-container *ngIf="edit">
            <form (ngSubmit)="update(content)">
              <div class="form-group">
                <textarea class="form-control" rows="5" id="content.id" name="content.id" [(ngModel)]="content.text"></textarea>
                <button type="submit" class="btn btn-success btn-block">
                  Update
                </button>
              </div>
            </form>
          </ng-container>

        </ng-container>
      </p>
      <div class="text-center">
        <button class="btn" *ngIf="(authService.userId$ | async) && edit" (click)="edit = !edit">Close</button>
        <button class="btn" *ngIf="(authService.userId$ | async) && !edit" (click)="edit = !edit">Edit</button>
      </div>
      <!-- Turra Lodge Farm is a family owned and operated American miniature horse breeding program located in the south east of Ireland.
        The Kelly Family have owned and bred miniature horses since 2005. The farm is home to a small group of AMHA registered
        miniature horses, some of which are also registered with the AMHR or the BMHS. Each Spring brings the arrival of
        new foals. Our hope is that these individuals will become successful halter horses before contributing to our breeding
        program. Since the farm's inception we have enjoyed presenting our horses in Ireland, the United Kingdom and Europe. -->
      <!-- <p class="read">
        Our aim at TLF is to breed beautiful American Miniature Horses with the most perfect conformation, attitude and athleticism
        for the showring, and we could not have found a more pleasurable pastime. We have carefully established a small herd
        of American Miniature Horses possessing extreme type, refinement and movement. All of our miniature horses are registered
        with the American Miniature Horse Association (AMHA) or the American Miniature Horse Registry (AMHR), and incorporate
        into our breeding program some ​of the finest lineage in the miniature horse industry. We invite you to browse through
        our website and please feel free to contact us if you would like further information on any of our American miniature
        horses.
      </p> -->
    </div>

    <div class="text-center">
      <span class="caption-text">
        <span class="border-bottom">
          &nbsp; Est. 2005 &nbsp;
        </span>
      </span>
    </div>

  </div>
</div>

<div class="row">

  <!-- Observable -->
  <div class="col-lg-3 col-sm-6 col-xs-6 masonary-block-container" *ngFor="let horse of featuredHorses | async">
    <app-block [id]=horse.id>
      <!-- Horse Card -->
    </app-block>
  </div>
</div>

<div class="row" id="bg-image-row">
  <div class="text-center">
    <h2>
      Welcome to
      <strong>Turra Lodge Farm</strong>
    </h2>
    <p>See what's happening on the farm.
      <a href="/">Recent News ></a>
    </p>

    <div class="row">
      <!-- <div class="col-8"> -->
      <app-carousel-home></app-carousel-home>
      <!-- <div class="card">
            <div class="card-body">
              <div class="wrapper">
                <h5>Recent News</h5>
                <h4>
                  {{n.title}}
                </h4>
                <span class="caption-text">{{n.date.toDate() | date:'MMMM, y'}} | {{n.location}}</span>
                <p class="read">{{n.text}}</p>
              </div>
            </div>
          </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>